<div class="container">
    <mat-card>
        <mat-card-title>
            About Me
        </mat-card-title>
        <mat-card-content>
            <img src="../../assets/user.jfif" alt="User" id="user">
            <p>
                Hi, I'm Fullstack Developer from Uttar Pradesh, India, working in web development and software developmet. I enjoy turning complex problems into simple, beautiful and intuitive designs.
            </p>
            <p>My job is to build your software so that it is functional and user-friendly but at the same time attractive. Moreover, I add personal touch to your product and make sure that is eye-catching and easy to use. My aim is to bring across your message and identity in the most creative way.</p>
        </mat-card-content>
    </mat-card>
</div>
